# --- Python ---
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.tox/
.coverage
htmlcov/
*.egg-info/

# --- Rust / Cargo ---
target/
Cargo.lock

.maturin/
*.whl
.rustc_info.json

# --- ОС и IDE ---
.DS_Store
.vscode/
.idea/
Thumbs.db
*.exe